/* 
-- Typography 
-font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 22 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- fint weights 

- line heigths
default: 1 
small: 1.05
Paragraph default: 1.6


-- Colors 
Primary: #C4D7E5

Tints: #e2ebf2
Shades: 
Accents: 
Grteys: 
#555

-- Shadows

-- Border Radius (px)

-- Whitespace

-- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/**************/
/* General */
/**************/

.heding-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.5em;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-third {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #39395f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  transition: background-color 2s;

  /* only for .btn class */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: #39395f;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #1d1d30;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #9c9caf;
  color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #39395f;
}

.btn--form {
  background-color: #39395f;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.contact *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #39395f;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}
